/* ======= Section "profesionales" carousel ===== */
.owl-prev {
  height: 100px;
  position: absolute;
  top: 35%;
  left: 105px;
  margin: 0 0 0 50px;
  display: block !important;
  border:0px solid black;
  font-size: 50px !important;
}

.owl-next {
  height: 100px;
  position: absolute;
  top: 35%;
  margin: 0 0 0 50px;
  right: 105px;
  display: block !important;
  border:0px solid black;
  font-size: 50px !important;
}

.owl-prev img, .owl-next img {
  width: 56px;
}

@media (max-width: 1600px) {
  body .owl-prev, body .owl-next {
    top: 32%;
  }
  body .owl-prev {
    left: 90px;
  }
  body .owl-next {
    right: 90px;
  }
  body .owl-prev img, body .owl-next img {
    width: 42px;
  }
}

@media (max-width: 1024px) {
  body .owl-prev, body .owl-next {
    top: 30%;
  }
  body .owl-prev {
    left: 50px;
  }
  body .owl-next {
    right: 50px;
  }
  body .owl-prev img, body .owl-next img {
    width: 32px;
  }
}

@media (max-width: 881px) {
  body .owl-prev img, body .owl-next img {
    width: 27px;
  }
  body .owl-prev {
    left: 35px;
  }
  body .owl-next {
    right: 35px;
  }
}

/* sweet alert2 customization */
 body .swal2-title {
  font-family: Nunito;
  color: #5B3D80;
}

body .owl-prev:hover, .owl-next:hover {
  background-color: unset !important;
}

.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

/* fixes fade transition in mobile carousel == 3dotsCarousel*/
.carousel-item {
  transition: transform 0s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0s;
}

@media (max-width: 881px)  {
  .owl-prev, .owl-next {
    font-size: 36px !important;
  }
}