body .header {
  display: flex;
  background-color: rgba(198, 247, 238, 0.3);
  position: absolute;
  width: 100%;
  height: 183px;
  left: 0px;
  top: -3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 19px; }
  body .header .headerContainer {
    margin: 0 auto;
    display: flex;
    align-items: center; }
    body .header .headerContainer .backBtn {
      display: none; }
    body .header .headerContainer .logo {
      height: 61px; }
    body .header .headerContainer .logo-smartphone {
      display: none; }
    body .header .headerContainer .notificaciones {
      display: none; }
    body .header .headerContainer .navbar ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 10px 153px 0 153px;
      width: 650px; }
      body .header .headerContainer .navbar ul a {
        text-decoration: none;
        color: black; }
        body .header .headerContainer .navbar ul a img {
          display: none; }
    body .header .headerContainer .inicioSesionBtn {
      background-color: #2FEDC8;
      color: #5B3D80; }
    body .header .headerContainer .registrarmeBtn {
      background-color: #5B3D80;
      color: white; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      width: 185px;
      height: 45px;
      border-radius: 100px;
      border: none;
      margin: 0 25px 0 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      cursor: pointer; }

@media (max-width: 1580px) {
  body .header .headerContainer .navbar ul {
    margin: 10px 83px 0 93px;
    width: 550px; } }

@media (max-width: 1370px) {
  body .header {
    font-size: 16px; }
    body .header .headerContainer .logo {
      width: 154px; }
    body .header .headerContainer .navbar ul {
      margin: 10px 40px 0 40px;
      width: 400px; }
    body .header .headerContainer .inicioSesionBtn {
      margin: 0 0 0 15px; }
    body .header .headerContainer .registrarmeBtn {
      margin: 0 0 0 30px; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      width: 155px;
      height: 40px;
      font-size: 16px; } }

@media (max-width: 1000px) {
  body .header {
    height: 120px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px; }
    body .header .headerContainer .logo {
      display: none; }
    body .header .headerContainer .logo-smartphone {
      display: block;
      width: 56px; }
    body .header .headerContainer .navbar ul {
      width: 293px;
      margin: 6px 25px 0 25px; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      height: 32px;
      width: 120px;
      font-size: 12px;
      font-weight: bold; } }

@media (max-width: 700px) {
  body .header {
    height: 170px;
    background-color: rgba(91, 61, 128, 0.1); }
    body .header .headerContainer .backBtn {
      display: block;
      position: absolute;
      border: none;
      left: 19px;
      top: 69px;
      background: rgba(255, 255, 255, 0); }
    body .header .headerContainer .logo {
      display: none; }
    body .header .headerContainer .logo-smartphone {
      display: block;
      position: absolute;
      left: calc(50% - 23px);
      top: 50px;
      margin: 0;
      width: 46px; }
    body .header .headerContainer .notificaciones {
      display: block;
      position: absolute;
      top: 63px;
      right: 45px; }
    body .header .headerContainer .navbar {
      height: 56px;
      width: 100%;
      background-color: #5B3D80;
      position: absolute;
      left: 0%;
      right: 0%;
      bottom: 0%;
      display: flex;
      margin: 0 auto; }
      body .header .headerContainer .navbar ul {
        width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500;
        justify-content: space-evenly; }
        body .header .headerContainer .navbar ul a {
          color: white;
          align-self: center; }
          body .header .headerContainer .navbar ul a img {
            display: block;
            margin: 0 auto 4px auto; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      display: none; } }

@media (max-width: 375px) {
  body .header .headerContainer .notificaciones {
    right: 27px; }
  body .header .headerContainer .navbar ul {
    margin: 0 24px;
    justify-content: space-between; } }

body .main {
  background: url(../media/cohete-background.jpg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 150px;
  z-index: -1; }
  body .main .mainContainer {
    position: absolute;
    width: 750px;
    height: 610px;
    right: 13.4%;
    top: 170px;
    display: flex;
    flex-flow: column nowrap; }
    body .main .mainContainer .h1Container {
      margin: 0 0 50px 0; }
      body .main .mainContainer .h1Container h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 85px;
        letter-spacing: 0em;
        text-align: left;
        color: #5B3D80; }
    body .main .mainContainer p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      width: 665px;
      color: #5B3D80; }
    body .main .mainContainer .descargaBtn {
      width: 380px;
      height: 55px;
      background: #6000D9;
      border-radius: 100px;
      color: white;
      border: none;
      cursor: pointer;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      margin: 155px 19% 0 0;
      align-self: center; }

body .womanQuestion {
  background: url(../media/woman-preguntas.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  top: 1080px; }
  body .womanQuestion .womanQuestionsAlone {
    display: none; }
  body .womanQuestion .decoElements {
    position: absolute;
    width: 11.82%;
    height: 31.48%;
    top: 41.67%;
    left: 5.99%; }
  body .womanQuestion .womanQuestion--container {
    position: absolute;
    width: 39.75%;
    height: 37%;
    top: 25%;
    left: 45.57%;
    right: 54.43%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions {
      list-style-image: url(../media/item-lista.svg);
      height: 50%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
      body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px; }
    body .womanQuestion .womanQuestion--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      height: 136px; }

body .aprendo {
  background: url(../media/woman-aprendo.svg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 2160px; }
  body .aprendo .aprendo--container {
    position: absolute;
    top: 153px;
    left: 165px; }
    body .aprendo .aprendo--container .aprendo--container__h2 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      color: #5B3D80;
      margin: 0 0 44px 0; }
    body .aprendo .aprendo--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      width: 703px;
      height: 85px;
      color: #131313; }
    body .aprendo .aprendo--container .cards--container {
      margin: 110px 0 0 0; }
      body .aprendo .aprendo--container .cards--container div {
        display: flex;
        align-items: center;
        margin: 30px 0; }
        body .aprendo .aprendo--container .cards--container div span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px; }
        body .aprendo .aprendo--container .cards--container div .m1 {
          margin: 0 0 0 42.22px; }
        body .aprendo .aprendo--container .cards--container div .m2 {
          margin: 0 0 0 44.68px; }
        body .aprendo .aprendo--container .cards--container div .m3, body .aprendo .aprendo--container .cards--container div .m4 {
          margin: 0 0 0 49px; }
        body .aprendo .aprendo--container .cards--container div .m5 {
          margin: 0 0 0 44.36px; }

body .consulta {
  background: url(../media/woman-consulta.svg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 3230px; }
  body .consulta .consulta--container {
    position: absolute;
    top: 182px;
    right: 140px;
    height: 347px;
    width: 821px; }
    body .consulta .consulta--container .consulta--container__h2 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      color: #5B3D80;
      margin: 0 0 60px 0; }
    body .consulta .consulta--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 178px 0;
      height: 99px;
      width: 753px; }
    body .consulta .consulta--container .descargaBtn {
      width: 380px;
      height: 55px;
      background: #6000D9;
      border-radius: 100px;
      color: white;
      border: none;
      cursor: pointer;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      margin: 0 0 0 125px; }

@media (max-width: 1600px) {
  body .main .mainContainer {
    top: 140px;
    width: 650px;
    right: 9%; }
    body .main .mainContainer .h1Container h1 {
      font-size: 60px;
      line-height: 70px; }
    body .main .mainContainer p {
      font-size: 20px;
      width: 576px; }
    body .main .mainContainer .descargaBtn {
      margin: 100px 17% 0 0; }
  body .womanQuestion {
    top: 900px;
    height: 900px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 20px; }
    body .womanQuestion .womanQuestion--container p {
      font-size: 20px;
      height: 113px; } }

@media (max-width: 1440px) {
  body .womanQuestion {
    top: 810px;
    height: 810px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 18px; }
    body .womanQuestion .womanQuestion--container p {
      font-size: 18px;
      height: 102px; } }

@media (max-width: 1200px) {
  body .main .mainContainer {
    width: 500px;
    top: 80px;
    right: 5%; }
    body .main .mainContainer .h1Container {
      margin: 0 0 30px 0; }
      body .main .mainContainer .h1Container h1 {
        font-size: 42px;
        line-height: 55px; }
    body .main .mainContainer p {
      font-size: 16px;
      width: 420px;
      line-height: 25px; }
    body .main .mainContainer .descargaBtn {
      width: 260px;
      height: 37.5px;
      font-size: 16px; }
  body .womanQuestion {
    height: 675px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 16px; }
    body .womanQuestion .womanQuestion--container p {
      line-height: 24px;
      font-size: 16px;
      height: 85px; } }

@media (max-width: 1024px) {
  body .womanQuestion {
    height: 576px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 14px; }
    body .womanQuestion .womanQuestion--container p {
      line-height: 24px;
      font-size: 14px;
      height: 72.5px; } }

@media (max-width: 881px) {
  body .main .mainContainer {
    width: 380px;
    top: 40px; }
    body .main .mainContainer .h1Container h1 {
      font-size: 36px;
      line-height: 50px; }
    body .main .mainContainer p {
      font-size: 14px;
      width: 360px; }
    body .main .mainContainer .descargaBtn {
      width: 220px;
      height: 35px;
      font-size: 14px;
      margin: 70px 17% 0 0; }
  body .womanQuestion {
    height: 495px; }
    body .womanQuestion .womanQuestion--container {
      width: 50%; }
      body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
        font-size: 12px; }
        body .womanQuestion .womanQuestion--container .womanQuestion__questions li br {
          display: none; }
      body .womanQuestion .womanQuestion--container p {
        line-height: 24px;
        font-size: 12px;
        height: 62.3px; } }

@media (max-width: 700px) {
  body .main {
    background: url(../media/Cohete.png);
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: 50% 10%;
    display: flex;
    align-items: center;
    justify-content: center; }
    body .main .mainContainer {
      position: unset;
      margin: 300px 0 0 0; }
      body .main .mainContainer .h1Container {
        display: none; }
      body .main .mainContainer p {
        width: 292px;
        height: 132px;
        margin: 0  0 0 61px;
        font-size: 18px;
        line-height: 22.63px;
        font-weight: 600; }
        body .main .mainContainer p br {
          display: none; }
      body .main .mainContainer .descargaBtn {
        margin: 52px 0 0 0;
        width: 270px;
        height: 48px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px; }
  body .womanQuestion {
    height: 1080px;
    background: url(../media/background-mobile.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .womanQuestion .womanQuestionsAlone {
      display: block;
      position: absolute;
      top: 0; }
    body .womanQuestion .decoElements {
      display: none; }
    body .womanQuestion .womanQuestion--container {
      top: 50%;
      left: unset;
      right: unset;
      height: 320px;
      width: 85%;
      padding: 0 0 0 20px; }
      body .womanQuestion .womanQuestion--container .womanQuestion__questions {
        order: 2;
        list-style-image: url(../media/item-lista-mobile.svg);
        height: 180px; }
        body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 700;
          font-size: 19px;
          line-height: 23.88px;
          color: #5B3D80; }
      body .womanQuestion .womanQuestion--container p {
        order: 1;
        color: #5B3D80;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px; } }

@media (max-width: 425px) {
  body .womanQuestion {
    display: flex;
    justify-content: center;
    align-items: center; }
    body .womanQuestion .womanQuestionsAlone {
      width: 100%; } }

@media (max-width: 355px) {
  body .main .mainContainer p {
    width: 90%;
    margin: 0 auto; }
  body .womanQuestion .womanQuestion--container {
    top: 40%;
    height: 350px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
