body .header {
  display: flex;
  background-color: rgba(198, 247, 238, 0.3);
  position: absolute;
  width: 100%;
  height: 183px;
  left: 0px;
  top: -3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 19px; }
  body .header .headerContainer {
    margin: 0 auto;
    display: flex;
    align-items: center; }
    body .header .headerContainer .backBtn {
      display: none; }
    body .header .headerContainer .logo {
      height: 61px; }
    body .header .headerContainer .logo-smartphone {
      display: none; }
    body .header .headerContainer .notificaciones {
      display: none; }
    body .header .headerContainer .navbar ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 10px 153px 0 153px;
      width: 650px; }
      body .header .headerContainer .navbar ul a {
        text-decoration: none;
        color: black; }
        body .header .headerContainer .navbar ul a img {
          display: none; }
    body .header .headerContainer .inicioSesionBtn {
      background-color: #2FEDC8;
      color: #5B3D80; }
    body .header .headerContainer .registrarmeBtn {
      background-color: #5B3D80;
      color: white; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      width: 185px;
      height: 45px;
      border-radius: 100px;
      border: none;
      margin: 0 25px 0 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      cursor: pointer; }

@media (max-width: 1440px) {
  body .header .headerContainer .navbar ul {
    margin: 10px 83px 0 93px;
    width: 550px; } }

@media (max-width: 1024px) {
  body .header {
    font-size: 16px; }
    body .header .headerContainer .logo {
      width: 154px; }
    body .header .headerContainer .navbar ul {
      margin: 10px 40px 0 40px;
      width: 400px; }
    body .header .headerContainer .inicioSesionBtn {
      margin: 0 0 0 15px; }
    body .header .headerContainer .registrarmeBtn {
      margin: 0 0 0 30px; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      width: 155px;
      height: 40px;
      font-size: 16px; } }

@media (max-width: 768px) {
  body .header {
    height: 120px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px; }
    body .header .headerContainer .logo {
      display: none; }
    body .header .headerContainer .logo-smartphone {
      display: block;
      width: 56px; }
    body .header .headerContainer .navbar ul {
      width: 293px;
      margin: 6px 25px 0 25px; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      height: 32px;
      width: 120px;
      font-size: 12px;
      font-weight: bold; } }

@media (max-width: 425px) {
  body .header {
    height: 170px;
    background-color: rgba(91, 61, 128, 0.1); }
    body .header .headerContainer .backBtn {
      display: block;
      position: absolute;
      border: none;
      left: 19px;
      top: 69px;
      background: rgba(255, 255, 255, 0); }
    body .header .headerContainer .logo {
      display: none; }
    body .header .headerContainer .logo-smartphone {
      display: block;
      position: absolute;
      left: calc(50% - 23px);
      top: 50px;
      margin: 0;
      width: 46px; }
    body .header .headerContainer .notificaciones {
      display: block;
      position: absolute;
      top: 63px;
      right: 45px; }
    body .header .headerContainer .navbar {
      height: 56px;
      width: 100%;
      background-color: #5B3D80;
      position: absolute;
      left: 0%;
      right: 0%;
      bottom: 0%;
      display: flex;
      margin: 0 auto; }
      body .header .headerContainer .navbar ul {
        width: 100%;
        margin: 0 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500; }
        body .header .headerContainer .navbar ul a {
          color: white;
          align-self: center; }
          body .header .headerContainer .navbar ul a img {
            display: block;
            margin: 0 auto 4px auto; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      display: none; } }

@media (max-width: 375px) {
  body .header .headerContainer .notificaciones {
    right: 27px; }
  body .header .headerContainer .navbar ul {
    margin: 0 24px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .main {
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  top: 150px;
  background: url(../media/cohete-background.jpg);
  z-index: -1; }
  body .main .h1Container {
    position: absolute;
    width: 750px;
    height: 270px;
    left: 912px;
    top: 170px; }
    body .main .h1Container h1 {
      font-family: 'Nunito', sans-serif;
      font-size: 72px;
      font-style: normal;
      font-weight: 900;
      line-height: 85px;
      letter-spacing: 0em;
      text-align: left;
      color: #5B3D80; }
  body .main p {
    position: absolute;
    width: 665px;
    height: 130px;
    left: 912px;
    top: 480px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #5B3D80; }
  body .main .descargaBtn {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    width: 380px;
    height: 55px;
    left: 1030px;
    top: 725px;
    background: #6000D9;
    color: white;
    border-radius: 100px;
    border: none; }

@media (max-width: 425px) {
  body .main {
    background: url(../media/cohete-background-smartphone.png);
    background-repeat: no-repeat;
    background-position: top -20px left 54px; }
    body .main .h1Container {
      display: none; }
    body .main p {
      position: absolute;
      width: 292px;
      height: 132px;
      left: 74px;
      top: 340px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px; }
    body .main .descargaBtn {
      position: absolute;
      width: 270px;
      height: 48px;
      left: 71px;
      top: 524px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px; } }
