body {
    #aprendo {
        background: url(../media/MujerConMesa.png), url(../media/fondoSoloMesa.jpg);
        @include backgrounds;
        .womanNetbookAlone {
            display: none;
        }
        .aprendo--container {
            position: absolute;
            top: 14.17%;
            margin: 0 auto 0 9%;
            font-size: 2rem;
           .aprendo--container__h2 {
            @include titulo2;
            font-size: 2.25em;
            line-height: 1.361em;
            margin: 0 0 0.61em 0;
           }
           p {
            @include parrafo24px(normal, 0.75em, 1.25em);
               width: 29.2916em;
               height: 3.5416em;
               color: #131313;
           }
           .cards--container {
               margin: 3.4375em 0 0 0;
               div {
                   display: flex;
                   align-items: center;
                   margin: 0.9375em 0;
                   span {
                    @include parrafo24px(bold, 0.75em, 1.25em);
                   }
                   .m1 {
                        margin: 0 0 0 42.22px;
                   }
                   .m2 {
                        margin: 0 0 0 44.68px; 
                   }
                   .m3, .m4 {
                        margin: 0 0 0 49px;
                   }
                   .m5 {
                        margin: 0 0 0 44.36px;
                   }
               }
           }
        }
    }
}