body {
    .header {
        display: flex;
        align-items: center;
        background-color: rgba(198, 247, 238, .3);
        position: absolute;
        width: 100%;
        height: 183px;
        left: 0px;
        top: -3px;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 24px;
        .headerContainer {
            margin: 0 176px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .backBtn {
                display: none;
            }
            .logo {
                height: 61px;
            }
            .logo-smartphone {
                display: none;
            }
            .notificaciones {
                display: none;
            }
            .navbar {
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    margin: 0 153px;
                    width: 650px;
                    a {
                        text-decoration: none;
                        color: black;
                        img {
                            display: none;
                        }
                        li {
                            margin: 0 auto;
                        }
                    }
                }
            }
            .inicioSesionBtn {
                background-color: #2FEDC8;
                color: #5B3D80;
                width: 185px;
                height: 45px;
                border-radius: 100px;
                border: none;
                margin: 0 25px 0 0;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
            }
            .registrarmeBtn {
                background-color: #5B3D80;
                color: white;
                width: 185px;
                height: 45px;
                border-radius: 100px;
                border: none;
                font-family: Source Sans Pro;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 425px) {
    body {
        .header {
            max-width: 425px;
            height: 170px;
            background-color: rgba(91, 61, 128, .1);
            .headerContainer {
                width: 100%;
                margin: 0;
                flex-flow: row wrap;
                .backBtn{
                    display: block;
                    position: absolute;
                    border: none;
                    left: 19px;
                    top: 69px;
                }
                .logo {
                    display: none;
                }
                .logo-smartphone {
                    display: block;
                    position: absolute;
                    left: 181px;
                    top: 50px;
                }
                .notificaciones {
                    display: block;
                    position: absolute;
                    top: 63px;
                    right: 45px;
                }
                .navbar {
                    order: 2;
                    height: 56px;
                    width: 100%;
                    background-color: #5B3D80;
                    position: absolute;
                    left: 0%;
                    right: 0%;
                    bottom: 0%;
                    display: flex;
                    justify-content: flex-end;
                    ul {
                        width: 100%;
                        margin: 0 35px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                        a {
                            color: white;
                            align-self: center;
                            img {
                                display: block;
                                margin: 0 auto 4px auto;
                            }
                        }
                    }
                }
                .inicioSesionBtn, .registrarmeBtn {
                    display: none;
                }
            }
        }
    }
}