body {
    #horarios {
        background: url(../media/mujerCalendarioSola.png), url(../media/fondoSoloCalendario.jpg);
        @include backgrounds;
        background-position-x: 30px, 0;
        .womanCalendarioAlone {
            display: none;
        }
        .horarios--container {
            position: absolute;
            top: 13%;
            margin: 0 auto 0 9%;
            width: 59.9%;
            font-size: 2rem;
            height: 14.1875em;
            .horarios--container__h2 {
                @include titulo2;
                margin: 0 0 0.9375em 0;
                width: 110%;
            }
            .horarios--container__h3 {
                font-family: Nunito;
                font-style: normal;
                font-weight: bold;
                font-size: 1.5em;
                line-height: 1.354166em;
                color: $violeta;
                width: 64%;
                margin: 0 0 1.145833em 0;
            }
            p {
                @include parrafo24px(normal, 0.75em, 1.25em);
                width: 60.3%;
            }
        }
    }
}