//---------- Solo de las secciones -----------

@media (max-width: 1600px) {
    body {
        .main {
            .mainContainer {
                top: 140px;
                width: 650px;
                right: 9%;
                .h1Container {
                    h1 {
                        font-size: 60px;
                        line-height: 70px
                    }
                }
                p {
                    font-size: 20px;
                    width: 576px;
                }
                .descargaBtn {
                    margin: 100px 17% 0 0;
                }
            }
        }

//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            top: 900px;
            height: 900px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 20px;
                    }
                }
                p {
                    font-size: 20px;
                    height: 113px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    body {
        .womanQuestion {
            top: 810px;
            height: 810px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 18px;
                    height: 102px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body {
        .main {
            .mainContainer {
                width: 500px;
                top: 80px;
                right: 5%;
                .h1Container {
                    margin: 0 0 30px 0;
                    h1 {
                        font-size: 42px;
                        line-height: 55px;
                    }
                }
                p {
                    font-size: 16px;
                    width: 420px;
                    line-height: 25px;
                }
                .descargaBtn {
                    width: 260px;
                    height: 37.5px;
                    font-size: 16px;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            height: 675px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 16px;
                    }
                }
                p {
                    line-height: 24px;
                    font-size: 16px;
                    height: 85px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            height: 576px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 14px;
                    }
                }
                p {
                    line-height: 24px;
                    font-size: 14px;
                    height: 72.5px;
                }
            }
        }
    }
}

@media (max-width: 881px) {
    body {
        .main {
            .mainContainer {
                width: 380px;
                top: 40px;
                .h1Container {
                    h1 {
                        font-size: 36px;
                        line-height: 50px;
                    }
                }
                p {
                    font-size: 14px;
                    width: 360px;
                }
                .descargaBtn {
                    width: 220px;
                    height: 35px;
                    font-size: 14px;
                    margin: 70px 17% 0 0;;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            height: 495px;
            .womanQuestion--container {
                width: 50%;
                .womanQuestion__questions {
                    li {
                        font-size: 12px;
                        br {
                            display: none;
                        }
                    }
                }
                p {
                    line-height: 24px;
                    font-size: 12px;
                    height: 62.3px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    body {
        .main {
            background: url(../media/Cohete.png);
            background-repeat: no-repeat;
            background-size: 230px;
            background-position: 50% 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            .mainContainer {
                position: unset;
                margin: 300px 0 0 0;
                .h1Container {
                    display: none;
                }
                p {
                    width: 292px;
                    height: 132px;
                    margin: 0  0 0 61px;
                    font-size: 18px;
                    line-height: 22.63px;
                    font-weight: 600;
                    br {
                        display: none;
                    }
                }
                .descargaBtn {
                    margin: 52px 0 0 0;
                    width: 270px;
                    height: 48px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            // height: 393.3px;
            // height: 1460px;
            height: 1080px;
            background: url(../media/background-mobile.jpg);
            background-repeat: repeat-x;
            background-position: center center;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            .womanQuestionsAlone {
                display: block;
                // width: 100%;
                position: absolute;
                top: 0;
            }
            .decoElements {
                display: none;
            }
            .womanQuestion--container {
                top: 50%;
                left: unset;
                right: unset;
                height: 320px;
                width: 85%;
                padding: 0 0 0 20px;
                .womanQuestion__questions {
                    order: 2;
                    list-style-image: url(../media/item-lista-mobile.svg);
                    height: 180px;
                    li {
                        @include parrafo24px(700, 19px, 23.88px);
                        color: $violeta;
                    }
                }
                p {
                    order: 1;
                    color: $violeta;
                    @include parrafo24px(600, 15px, 22px); //18.86px
                }
            }
        }
    }
}

@media (max-width: 425px) {
    body {
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            display: flex;
            justify-content: center;
            align-items: center;
            .womanQuestionsAlone {
                width: 100%;
            }
        }
    }
}

@media (max-width: 355px) {
    body {
        .main {
            .mainContainer {
                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            .womanQuestion--container {
                top: 40%;
                height: 350px;
            }
        }
    }
}