@media (max-width: 1600px) {
    :root {
        font-size: 13.33333376px;
    }
    body {
        .main {
            height: 900px;
            .mainContainer {
                top: 140px;
                width: 650px;
            }
        }
//----------------------------- Sección Woman Question 1600px--------------------
        .womanQuestion {
            height: 900px;
        }
//----------------------------- Sección Aprende con nosotros 1600px--------------------
        #aprendo {
            height: 900px;
        }
//----------------------------- Sección Consulta 1600px---------------------------
        #consulta {
            height: 900px;
        }
//----------------------------- Sección Profesionales 1600px--------------------
        #profesionales {
            height: 1000px;
            .profesionales-carousel {
                top: 310px;
                .item {
                    margin: 20px 16.6px 50px 16.6px;
                    .profesionales-item-img-div {
                        img {
                            border-radius: 41.6px 41.6px 0 0;
                        }
                    }
                    .item__info-div {
                        height: 183px;
                    }
                }
            }
        }
//----------------------------- Sección Horarios 1600px--------------------
        #horarios {
            height: 900px;
        }
//----------------------------- Sección Planes 1600px--------------------
       #planes {
           height: 1017px;
           background-position: 80px, 0;
            .planes--container {
                top: 11.6%;
                height: 71.7%;
                min-width: 750px;
                .planes--container__cards {
                    max-width: 780px;
                    .planes__card {
                        div {
                            height: 500px;
                            width: 342px;
                            padding: 52.5px 0 0 0;
                            h4, .gratis__h4 {
                                width: 225px;
                            }
                            h5 {
                                padding: 3px 0 0 60px;
                            }
                            ul {
                                padding: 0 0 0 85px;
                                height: 230px;
                                li {
                                    margin: 0 0 25px 0;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -58px;
                                height: 45.8px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1440px) {
    :root {
        font-size: 12px;
    }
    body {
//----------------------------- Sección womanQuestion 1440px--------------------
        .womanQuestion {
            height: 810px;
        }
//----------------------------- Sección Aprende con nosotros 1440px--------------------
        #aprendo {
            height: 810px;
            .aprendo--container {
                .cards--container {
                    div {
                        .img1 {
                            width: 37.335px;
                        }
                        .img2 {
                            width: 33.75px;
                        }
                        .img3 {
                            width: 30px;
                        }
                        .img4 {
                            width: 30px;
                        }
                        .img5 {
                            width: 33.75px;
                        }
                        span {
                            font-size: 18px;
                        }
                        .m1 {
                            margin: 0 0 0 31.6px;
                        }
                        .m2 {
                            margin: 0 0 0 33.51px;
                        }
                        .m3, .m4 {
                            margin: 0 0 0 36.75px;
                        }
                        .m5 {
                            margin: 0 0 0 33.27px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 1440px---------------------------
        #consulta {
            height: 810px;
        }
//----------------------------- Sección Profesionales 1440px--------------------
        #profesionales {
            height: 900px;
            .profesionales-carousel {
                top: 300px;
                .item {
                    margin: 20px 15px 50px 15px;
                    .profesionales-item-img-div {
                        img {
                            border-radius: 37.5px 37.5px 0 0;
                        }
                    }
                    .item__info-div {
                        height: 165px;
                    }
                }
            }
        }
//----------------------------- Sección Horarios 1440px--------------------
        #horarios {
            height: 810px;
        }
//----------------------------- Sección Aprende con nosotros 1440px--------------------
        #planes {
            height: 915px;
            .planes--container {
                min-width: 680px;
                .planes--container__cards {
                    max-width: 700px;
                    .planes__card {
                        div {
                            height: 450px;
                            width: 307.5px;
                            padding: 47.25px 0 0 0;
                            border-radius: 40px;
                            h4, .gratis__h4 {
                                width: 202.5px;
                            }
                            h5 {
                                padding: 3px 0 0 54px;
                            }
                            ul {
                                padding: 0 0 0 75px;
                                height: 206px;
                                li {
                                    margin: 0 0 18px 0;
                                    padding: 0 0 0 10px;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -40px;
                                height: 41.25px;
                            }
                            .inscribirYaBtn{
                                img {
                                    margin: 0 0 2px 8px;
                                }
                            }     
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    :root {
        font-size: 10px;
    }
    body {
        .main {
            height: 700px;
            .mainContainer {
                width: 500px;
                top: 80px;
            }
        }
//----------------------------- Sección Woman Question 1200px--------------------
        .womanQuestion {
            height: 675px;
        }
//----------------------------- Sección Aprende con nosotros 1200px--------------------
        #aprendo {
            height: 675px;
            .aprendo--container {
                .cards--container {
                    div {
                        .img1 {
                            width: 31.1125px;
                        }
                        .img2 {
                            width: 28.325px;
                        }
                        .img3 {
                            width: 25px;
                        }
                        .img4 {
                            width: 25px;
                        }
                        .img5 {
                            width: 28.525px;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 1200px---------------------------
        #consulta {
            height: 675px;
        }
//----------------------------- Sección Profesionales 1200px--------------------
        #profesionales {
            height: 750px;
            .profesionales-carousel {
                top: 230px;
                .item {
                    margin: 20px 12.5px 50px 12.5px;
                    .profesionales-item-img-div {
                        img {
                            border-radius: 31.25px 31.25px 0 0;
                        }
                    }
                    .item__info-div {
                        height: 137.5px;
                    }
                }
            }
        }
//----------------------------- Sección Horarios 1200px--------------------
        #horarios {
            height: 675px;
        }
//----------------------------- Sección Aprende con nosotros 1200px--------------------
        #planes {
            background-position: 60px, 0;
            height: 762.5px;
            .planes--container {
                min-width: 560px;
                .planes--container__cards {
                    max-width: 585px;
                    .planes__card {
                        div {
                            height: 375px;
                            width: 256px;
                            padding: 39.3px 0 0 0;
                            h4, .gratis__h4 {
                                width: 169px;
                            }
                            .gratis__h4 {
                                margin: 0 auto 38.75px auto; 
                            }
                            h5 {
                                padding: 3px 0 0 45px;
                                height: 38.75px;
                            }
                            ul {
                                padding: 0 0 0 70px;
                                height: 172px;
                                li {
                                    margin: 0 0 18.75px 0;
                                    padding: 0 0 0 9px;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -45px;
                                height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    :root {
        font-size: 8.533334px;
    }
    body {
//----------------------------- Sección Main 1024px--------------------  
        .main {
            background-position: -22px -8px;
            .mainContainer {
                margin: 0 30% 0 43%;
            }
        }
//----------------------------- Sección Woman Question 1024px--------------------
        .womanQuestion {
            height: 576px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    list-style-image: url(../media/item-lista-mobile.svg);
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 1024px--------------------
        #aprendo {
            height: 576px;
            .aprendo--container {
                .cards--container {
                    div {
                        .img1 {
                            width: 26.55px;
                        }
                        .img2 {
                            width: 24.17px;
                        }
                        .img3 {
                            width: 21.332px;
                        }
                        .img4 {
                            width: 21.332px;
                        }
                        .img5 {
                            width: 24.34px;
                        }
                        span {
                            font-size: 12.8px;
                        }
                        .m1 {
                            margin: 0 0 0 22.52px;
                        }
                        .m2 {
                            margin: 0 0 0 23.8px;
                        }
                        .m3, .m4 {
                            margin: 0 0 0 26.1px;
                        }
                        .m5 {
                            margin: 0 0 0 23.66px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 1024px---------------------------
        #consulta {
            height: 576px;
        }
//----------------------------- Sección Profesionales 1024px--------------------
        #profesionales {
            height: 640px;
            .profesionales-carousel {
                top: 160px;
                .item {
                    margin: 20px 10.6px 50px 10.6px;
                    .profesionales-item-img-div {
                        img {
                            border-radius: 26.6px 26.6px 0 0;
                        }
                    }
                    .item__info-div {
                        height: 117px;
                    }
                }
            }
        }
//----------------------------- Sección Horarios 1024px--------------------
        #horarios {
            height: 576px;
        }
//----------------------------- Sección Aprende con nosotros 1024px--------------------
        #planes {
            height: 650px;
            .planes--container {
                min-width: 500px;
                .planes--container__cards {
                    max-width: 500px;
                    .planes__card {
                        h3, .gratis {
                            margin: 0 0 35px 0;
                        }
                        div {
                            height: 320px;
                            width: 218px;
                            padding: 33.6px 0 0 0;
                            border-radius: 30px;
                            h4, .gratis__h4 {
                                width: 144px;
                            }
                            .gratis__h4 {
                                margin: 0 auto 32px auto; 
                            }
                            h5 {
                                padding: 3px 0 16px 38px;
                                height: 32px;
                            }
                            ul {
                                list-style-image: url(../media/item-lista-planes-1024.svg);
                                padding: 0 0 0 55px;
                                height: 147px;
                                li {
                                    margin: 0 0 14px 0;
                                    padding: 0 0 0 6px;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -26px;
                                height: 29.3px;
                            }    
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 881px) {
    :root {
        font-size: 7.3333335px;
    }
    body {
        .main {
            height: 560px;
            .mainContainer {
                width: 378px;
                top: 50px;
                margin: 0 30% 0 45%;
            }
        }
//----------------------------- Sección Woman Question 881px--------------------
        .womanQuestion {
            height: 495px;
        }
//----------------------------- Sección Aprende con nosotros 881px--------------------
        #aprendo {
            height: 495px;
            .aprendo--container {
                .cards--container {
                    div {
                        .img1 {
                            width: 22.8px;
                        }
                        .img2 {
                            width:20.8px;
                        }
                        .img3 {
                            width: 18.32px;
                        }
                        .img4 {
                            width: 18.32px;
                        }
                        .img5 {
                            width: 20.9px;
                        }
                        span {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 881px---------------------------
        #consulta {
            height: 495px;
        }
//----------------------------- Sección Profesionales 881px--------------------
        #profesionales {
            height: 550px;
            .profesionales-carousel {
                top: 140px;
                .item {
                    margin: 20px 9.2px 50px 9.2px;
                    .profesionales-item-img-div {
                        img {
                            border-radius: 23px 23px 0 0;
                        }
                    }
                    .item__info-div {
                        height: 101px;
                    }
                }
            }
        }
//----------------------------- Sección Horarios 881px--------------------
        #horarios {
            height: 495px;
        }
//----------------------------- Sección Aprende con nosotros 881px--------------------
        #planes {
            height: 560px;
            .planes--container {
                min-width: 430px;
                .planes--container__cards {
                    max-width: 430px;
                    .planes__card {
                        h3, .gratis {
                            margin: 0 0 30px 0;
                        }
                        div {
                            height: 275px;
                            width: 188px;
                            padding: 28.9px 0 0 0;
                            border-radius: 25px;
                            h4, .gratis__h4 {
                                width: 124px;
                            }
                            .gratis__h4 {
                                margin: 0 auto 18.5px auto; 
                            }
                            h5 {
                                padding: 3px 0 0 32px;
                                height: 18.5px;
                            }
                            ul {
                                padding: 0 0 0 50px;
                                height: 126px;
                                li {
                                    margin: 0 0 13.75px 0;
                                    padding: 0 0 0 2px;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -30px;
                                height: 25px;
                            }
                            .inscribirYaBtn{
                                img {
                                    margin: 0 0 2px 6px;
                                }
                            }       
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 6.4px;
    }
    body {
//----------------------------- Sección Main 768px---------------------------
        .main {
            height: 500px;
        }
//----------------------------- Sección Profesionales 768px--------------------
        #profesionales {
            height: 380px;
            .profesionales--container {
                top: -100px;
            }
            .profesionales-carousel {
                top: 50px;
                .item {
                    margin: 20px 8px 50px 8px;
                    .profesionales-item-img-div {
                        img {
                            border-radius: 20px 20px 0 0;
                        }
                    }
                    .item__info-div {
                        height: 88px;
                    }
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 768px--------------------
        #planes {
            height: 560px;
            .planes--container {
                height: 64%;
                top: 9%;
                min-width: 380px;
                .planes--container__cards {
                    max-width: 374px;
                    .planes__card {
                        h3, .gratis {
                            margin: 0 0 26px 0;
                        }
                        div {
                            height: 240px;
                            width: 164px;
                            padding: 25.2px 0 0 0;
                            border-radius: 20px;
                            h4, .gratis__h4 {
                                width: 108px;
                            }
                            h5 {
                                padding: 2px 0 0 28.5px;
                            }
                            ul {
                                padding: 0 0 0 45px;
                                height: 110px;
                                li {
                                    margin: 0 0 12px 0;
                                    padding: 0;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -24px;
                                height: 22px;
                            }
                            .inscribirYaBtn{
                                img {
                                    margin: 0 0 2px 6px;
                                }
                            }    
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    :root {
        font-size: 16px;
    }
    body {
        .main {
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 715px;
            .mainContainer {
                position: unset;
                margin: 60px 0 0 0;
                .coheteAlone {
                    display: block;
                    position: absolute;
                    top: -10px;
                    width: 230px;
                    align-self: center;

                    animation-name: float;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;

                    @keyframes float {
                        0% {
                        
                            transform: translatey(0px);
                        }
                        50% {
                            
                            transform: translatey(-20px);
                        }
                        100% {
                        
                            transform: translatey(0px);
                        }
                    }
                }
                .h1Container {
                    display: none;
                }
                p {
                    width: 310px;
                    margin: 0 auto;
                    font-size: 18px;
                    line-height: 22.63px;
                    text-align: center;
                    br {
                        display: none;
                    }
                }
                .descargaBtn {
                    margin: 50px 0 0 0;
                    width: 225px;
                    height: 38px;
                    align-self: center;
                    @include parrafo24px(bold, 16px, 20px);
                    &:hover {
                        background-color: $colorEspecial;
                    }
                    &:active {
                        background: rgba(96, 0, 217, 0.7);
                    }
                    img {
                        width: 20px;
                    }
                }
            }
        }
//----------------------------- Sección Woman Question 700px--------------------
        .womanQuestion {
            height: 860px;
            @include mobile-backgrounds;
            .womanQuestionsAlone {
                display: block;
                position: absolute;
                top: 0;
            }
            .decoElements {
                display: none;
            }
            .womanQuestion--container {
                top: 57%;
                left: unset;
                right: unset;
                height: 320px;
                width: 90%;
                padding: 0 0 0 20px;
                .womanQuestion__questions {
                    order: 2;
                    height: 150px;
                    text-align: center;
                    width: 88%;
                    max-width: 290px;
                    margin: 0 auto;
                    li {
                        @include parrafo24px(600, 14px, 22px);
                        color: $violeta;
                        margin: 0 auto;
                    }
                }
                p {
                    order: 2;
                    color: $violeta;
                    @include parrafo24px(600, 14px, 22px);
                    width: 90%;
                    height: 130px;
                    text-align: center;
                }
            }
        }
        #carousel3dotsMobile {
            display: flex;
        }
        #littleCarouselMobile {
            display: block;
            width: 100%;
        }
//----------------------------- Sección Aprende con nosotros 700px--------------------
        #aprendo {
            display: none
        }
//----------------------------- Sección Consulta 700px---------------------------
        #consulta {
            display: none;
        }
//----------------------------- Desaparece Sección Profesionales 700px--------------------
        #profesionales {
            display: none;
        }
//----------------------------- Sección Horarios 700px--------------------
        #horarios {
            display: none;
        }
//----------------------------- Sección Planes 700px--------------------
        #planes {
            @include mobile-backgrounds;
            height: 1112px;
            .womanPagosAlone {
                display: block;
                position: absolute;
                top: 0%;
            }
            .planes--container {
                width: 100%;
                min-width: unset;
                max-width: 380px;
                height: 550px;
                top: 470px;
                left: unset;
                justify-content: unset;
                font-size: unset;
                .planes--container__h2 {
                    font-weight: 900;
                    text-align: center;
                }
                .planes--container__cards {
                    height: 450px;
                    max-width: 100%;
                    align-items: flex-start;
                    margin: 46px 0 0 0;
                    flex-flow: row wrap;
                    .planes__card {
                        margin: 0 auto;
                        div {
                            .inscribirYaBtn:hover {
                                background-color: $colorEspecial;
                            }
                            .inscribirYaBtn:active {
                                background-color: #420194;
                            }
                            .inscribirGratisBtn:hover {
                                background-color: $violeta60;
                            }
                            .inscribirGratisBtn:active {
                                background-color: $violeta;
                            }
                        }
                        h3 {
                            font-weight: bold;
                            font-size: 29px;
                            line-height: 34px;
                            span {
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 16px;
                                padding: 4px 12px;
                                margin: 4px 0 0 8px;
                            }
                        }
                        .gratis {
                            font-family: Nunito;
                            font-weight: bold;
                            font-size: 30px;
                        }
                        div {
                            width: 186px;
                            height: 400px;
                            padding: 35px 0 0 0;
                            border-radius: 30px;
                            h4 {
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 25px;
                                color: $violeta;
                                margin: 0 29px 0 35px;
                            }
                            .gratis__h4 {
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 25px;
                                color: $violeta;
                                height: unset;
                                margin: 0 24px 50px 35px;
                            }
                            h5 {
                                font-size: 14px;
                                line-height: 18px;
                                height: 50px;
                                padding: 6px 0 0 35px;
                            }
                            ul {
                                padding: 0 0 0 35px;
                                height: 190px;
                                li {
                                    font-size: 12px;
                                    line-height: 15px;
                                    margin: 0 0 16px 0;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                height: 37px;
                                width: 87%;
                                margin: 0 6.5%;
                                font-size: 14px;
                                line-height: 21px;
                                bottom: -12px;
                            }
                            .inscribirYaBtn {
                                img {
                                    width: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    body {
//----------------------------- Sección Woman Question  425px--------------------
        .womanQuestion {
            background: url(../media/womanQuestionMobile.jpg), url(../media/background-mobile.jpg);
            background-size: 425px, cover;
            background-repeat: no-repeat;
            background-position: center -30px, center center;
            .womanQuestionsAlone {
                display: none;
            }
            .womanQuestion--container {
                top: 58%;
                .womanQuestion__questions {
                    li {
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Carousel secciones  425px--------------------
        #carousel3dotsMobile {
            #carouselExampleFade {
                .carousel-inner {
                    .carousel-item {
                        .div-img-container {
                            width: 100%;
                            min-height: 450px;
                        }
                        .carousel-caption {
                            p {
                                width: 88%;
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 425px--------------------
        #aprendo {
            .womanNetbookAlone { 
                width: 100%;
            }
        }
//----------------------------- Sección Consulta 425px---------------------------
        #consulta {
            .womanConsultaAlone {
                display: block;
                position: absolute;
                top: 7%;
                width: 100%;
            }
        }
//----------------------------- Sección Horarios 425px--------------------
        #horarios {
            .womanCalendarioAlone {
                width: 100%;
            }
            .horarios--container {
                width: 90%;
                margin: 0 auto;
            }
        }
//----------------------------- Sección Planes 425px--------------------
        #planes {
            background: url(../media/woman-planes-alone.png), url(../media/background-mobile.jpg);
            background-size: 425px, cover;
            background-repeat: no-repeat;
            background-position: top center;
            height: 1690px;
            .womanPagosAlone {
                display: none;
            }
            .planes--container {
                top: 480px;
                .planes--container__cards {
                    flex-flow: column nowrap;
                    margin: 0;
                    .planes__card {
                        margin: 40px auto 0 auto;
                        h3 {
                            margin: 0 0 10px 0;
                        }
                        .gratis {
                            margin: 0 0 10px 0;
                        }
                        div {
                            width: 248px;
                            height: 460px;
                            h4 {
                                margin: 0 auto 0 48px;
                            }
                            .gratis__h4 {
                                margin: 0 24px 50px 48px;
                            }
                            h5 {
                                padding: 8px 0 0 48px;
                                height: 50px;
                            }
                            ul {
                                padding: 0 0 0 48px;
                                li {
                                    font-size: 14px;
                                    line-height: 18px;
                                    margin: 0 0 20px 0;
                                }
                            }
                            .inscribirYaBtn, .inscribirGratisBtn {
                                bottom: -75px;
                                width: 200px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 380px) {
    body {  
//----------------------------- Sección Carousel secciones 380px--------------------
        #carousel3dotsMobile {
            #carouselExampleFade {
                .carousel-indicators {
                    margin-bottom: -10px;
                    top: -25px;
                }
                .carousel-inner {
                    .carousel-item {
                        .carousel-caption {
                            h5 {
                                height: 70px;
                                margin: 0 auto;
                            }
                            p {
                                height: 120px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 355px) {
    body {
        .main {
            .mainContainer {
                p {
                    width: 82%;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
//----------------------------- Sección Woman Questions 355px--------------------
        .womanQuestion {
            background-size: 360px;
            height: 800px;
            .womanQuestion--container {
                top: 53%;
                height: 295px;
                .womanQuestion__questions {
                    height: 150px;
                }
                p {
                    height: 100px;
                }
            }
        }
//----------------------------- Sección Carousel secciones 355px--------------------
        #carousel3dotsMobile {
            height: 900px;
            #carouselExampleFade {
                .carousel-indicators {
                    margin-bottom: 10px;
                }
            }
        }
//----------------------------- Sección littleCarouselMobile 355px--------------------
        #littleCarouselMobile {
            top: 2140px;
        }
//----------------------------- Sección Aprendo 355px---------------------------
        #aprendo {
            .aprendo--container {
                .aprendo--container__h2 {
                    width: 100%;
                    text-align: center;
                    font-size: 27px;
                }
                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
//----------------------------- Sección Consulta 355px---------------------------
        #consulta {
            .consulta--container {
                top: 45%;
                height: 450px;
                width: 100%;
                .consulta--container__h2 {
                    font-size: 27px;
                    margin: 0 0 20px 10px;
                }
                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
//----------------------------- Sección Horarios 355px--------------------
        #horarios {
            .horarios--container {
                width: 100%;
                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    body {
//----------------------------- Sección Carousel secciones 320px--------------------
        #carousel3dotsMobile {
            height: 780px;
            #carouselExampleFade {
                .carousel-indicators {
                    margin-bottom: 70px;
                    top: -20px;
                }
            }
        }
        #littleCarouselMobile {
            top: 2070px;
        }
    }
}