//--------------------------- Solo de las secciones ------------------
@media (max-width: 1600px) {
    body {
        .main {
            .mainContainer {
                top: 140px;
                width: 650px;
                right: 9%;
                .h1Container {
                    h1 {
                        font-size: 60px;
                        line-height: 70px
                    }
                }
                p {
                    font-size: 20px;
                    width: 576px;
                }
                .descargaBtn {
                    margin: 100px 17% 0 0;
                }
            }
        }

//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            top: 900px;
            height: 900px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 20px;
                    }
                }
                p {
                    font-size: 20px;
                    height: 113px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            top: 1800px;
            height: 900px;
            .aprendo--container {
                .aprendo--container__h2 {
                    font-size: 60px;
                    margin: 0 0 36.7px 0;
                }
                p {
                    font-size: 20px;
                }
                .cards--container {
                    margin: 91.6px 0 0 0;
                    div {
                        margin: 25px 0;
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    body {
        .womanQuestion {
            top: 810px;
            height: 810px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 18px;
                    height: 102px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            top: 1620px;
            height: 810px;
            .aprendo--container {
                .aprendo--container__h2 {
                    font-size: 54px;
                    margin: 0 0 22.5px 0;
                }
                p {
                    font-size: 18px;
                    line-height: 22.5px;
                    width: 530px;
                }
                .cards--container {
                    margin: 0 0 82.5px 0;
                    div {
                        margin: 22.5px 0;
                        .img1 {
                            width: 37.335px;
                        }
                        .img2 {
                            width: 33.75px;
                        }
                        .img3 {
                            width: 30px;
                        }
                        .img4 {
                            width: 30px;
                        }
                        .img5 {
                            width: 33.75px;
                        }
                        span {
                            font-size: 18px;
                        }
                        .m1 {
                            margin: 0 0 0 31.6px;
                        }
                        .m2 {
                            margin: 0 0 0 33.51px;
                        }
                        .m3, .m4 {
                            margin: 0 0 0 36.75px;
                        }
                        .m5 {
                            margin: 0 0 0 33.27px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body {
        .main {
            .mainContainer {
                width: 500px;
                top: 80px;
                right: 5%;
                .h1Container {
                    margin: 0 0 30px 0;
                    h1 {
                        font-size: 42px;
                        line-height: 55px;
                    }
                }
                p {
                    font-size: 16px;
                    width: 420px;
                    line-height: 25px;
                }
                .descargaBtn {
                    width: 260px;
                    height: 37.5px;
                    font-size: 16px;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            height: 675px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 16px;
                    }
                }
                p {
                    line-height: 24px;
                    font-size: 16px;
                    height: 85px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            top: 1500px;
            height: 675px;
            .aprendo--container {
                .aprendo--container__h2 {
                    font-size: 45px;
                }
                p {
                    font-size: 15px;
                    line-height: 18.75px;
                    width: 442px;
                }
                .cards--container {
                    div {
                        .img1 {
                            width: 31.1125px;
                        }
                        .img2 {
                            width: 28.325px;
                        }
                        .img3 {
                            width: 25px;
                        }
                        .img4 {
                            width: 25px;
                        }
                        .img5 {
                            width: 28.525px;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            top: 700px;
            height: 576px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 14px;
                    }
                }
                p {
                    line-height: 20px;
                    font-size: 14px;
                    height: 72.5px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            top: 1300px;
            height: 576px;
            .aprendo--container {
                top: 7%;
                .aprendo--container__h2 {
                    font-size: 38.4px;
                    height: 90px;
                    margin: 0;
                }
                p {
                    font-size: 12.8px;
                    line-height: 16px;
                    width: 375px;
                    height: 75px;
                }
                .cards--container {
                    div {
                        margin: 16px 0;
                        .img1 {
                            width: 26.55px;
                        }
                        .img2 {
                            width: 24.17px;
                        }
                        .img3 {
                            width: 21.332px;
                        }
                        .img4 {
                            width: 21.332px;
                        }
                        .img5 {
                            width: 24.34px;
                        }
                        span {
                            font-size: 12.8px;
                        }
                        .m1 {
                            margin: 0 0 0 22.52px;
                        }
                        .m2 {
                            margin: 0 0 0 23.8px;
                        }
                        .m3, .m4 {
                            margin: 0 0 0 26.1px;
                        }
                        .m5 {
                            margin: 0 0 0 23.66px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 881px) {
    body {
        .main {
            .mainContainer {
                width: 380px;
                top: 40px;
                .h1Container {
                    h1 {
                        font-size: 36px;
                        line-height: 50px;
                    }
                }
                p {
                    font-size: 14px;
                    width: 360px;
                }
                .descargaBtn {
                    width: 220px;
                    height: 35px;
                    font-size: 14px;
                    margin: 70px 17% 0 0;;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            top: 600px;
            height: 495px;
            .womanQuestion--container {
                width: 50%;
                .womanQuestion__questions {
                    li {
                        font-size: 12px;
                        br {
                            display: none;
                        }
                    }
                }
                p {
                    line-height: 16px;
                    font-size: 12px;
                    height: 62.3px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            top: 1100px;
            height: 495px;
            .aprendo--container {
                top: 6%;
                .aprendo--container__h2 {
                    font-size: 33px;
                    height: 90px;
                    margin: 0;
                }
                p {
                    font-size: 11px;
                    width: 322px;
                }
                .cards--container {
                    div {
                        .img1 {
                            width: 22.8px;
                        }
                        .img2 {
                            width:20.8px;
                        }
                        .img3 {
                            width: 18.32px;
                        }
                        .img4 {
                            width: 18.32px;
                        }
                        .img5 {
                            width: 20.9px;
                        }
                        span {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    body {
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            .womanQuestion--container {
                .womanQuestion__questions {
                    list-style-image: url(../media/item-lista-mobile.svg);
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            top: 1050px;
            .aprendo--container {
                top: 3%;
                p {
                    height: 55px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    body {
        .main {
            background: url(../media/Cohete.png);
            background-repeat: no-repeat;
            background-size: 230px;
            background-position: 50% 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            .mainContainer {
                position: unset;
                margin: 300px 0 0 0;
                .h1Container {
                    display: none;
                }
                p {
                    width: 292px;
                    height: 132px;
                    margin: 0  0 0 61px;
                    font-size: 18px;
                    line-height: 22.63px;
                    font-weight: 600;
                    br {
                        display: none;
                    }
                }
                .descargaBtn {
                    margin: 52px 0 0 0;
                    width: 270px;
                    height: 48px;
                    @include parrafo24px(bold, 18px, 23px)
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            top: 800px;
            height: 1080px;
            @include mobile-backgrounds;
            .womanQuestionsAlone {
                display: block;
                // width: 100%;
                position: absolute;
                top: 0;
            }
            .decoElements {
                display: none;
            }
            .womanQuestion--container {
                top: 50%;
                left: unset;
                right: unset;
                height: 320px;
                width: 85%;
                padding: 0 0 0 20px;
                .womanQuestion__questions {
                    order: 2;
                    height: 180px;
                    li {
                        @include parrafo24px(700, 19px, 23.88px);
                        color: $violeta;
                    }
                }
                p {
                    order: 1;
                    color: $violeta;
                    @include parrafo24px(600, 15px, 22px); //18.86px
                }
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            @include mobile-backgrounds;
            top: 1850px;
            height: 1080px;
            .womanNeetbookAlone {
                display: block;
                position: absolute;
                top: 0;
            }
            .aprendo--container {
                height: 350px;
                top: 45%;
                left: unset;
                .aprendo--container__h2 {
                    font-size: 30px;
                    font-weight: 900;
                    width: 320px;
                    margin: 0;
                }
                p {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 19px;
                    height: 85px;
                    width: 316px;
                    text-align: center;
                    color: $violeta;
                }
                .dots {
                    display: block;
                    position: relative;
                    top: 30px;
                    left: calc(50% - 25px);
                }
                .cards--container {
                    div {
                        span {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    body {
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            display: flex;
            justify-content: center;
            align-items: center;
            .womanQuestionsAlone {
                width: 100%;
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        .aprendo {
            .womanNeetbookAlone { 
                width: 100%;
            }
        }
    }
}

@media (max-width: 355px) {
    body {
        .main {
            .mainContainer {
                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            .womanQuestion--container {
                top: 40%;
                height: 350px;
            }
        }
    }
}