body {
    #planes {
        background: url(../media/mujerSolaTarjeta.png), url(../media/FondoSoloTarjeta.png);
        @include backgrounds;
        background-position: 80px, 0;
        height: 1120px;
        .womanPagosAlone {
            display: none;
        }
        .planes--container {
            position: absolute;
            left: calc(42.65% - 3vw);
            top: 9.6%; //11.6%
            width: 48.7%;
            min-width: 900px;
            height: 840px; //71.7%
            display: flex;
            justify-content: space-between;
            flex-flow: column nowrap;
            font-size: 2rem;
            .planes--container__h2 {
                @include titulo2;
                width: 230px;
                margin: 0 auto;
                text-align: center;
            }
            .planes--container__cards {
                max-width: 935px;
                height: 79.4%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-end;
                .planes__card {
                    h3, .gratis {
                        font-family: Roboto;
                        font-size: 1.25em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.175em;
                        letter-spacing: 0em;
                        text-align: center;
                        margin: 0 0 40px 0;
                        color: $violeta;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-family: Roboto;
                            font-size: 0.6em;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 1.166em;
                            letter-spacing: 0em;
                            padding: 0.333em 0.666em;
                            margin: 0 0 0 8px;
                            border-radius: 10px;
                            background: #00EDBF;
                        }
                    }
                    div {
                        height: 600px;
                        width: 410px;
                        border-radius: 50px;
                        background-color: white;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        padding: 63px 0 0 0;
                        h4 {
                            font-family: Source Sans Pro;
                            font-size: 0.75em;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 1.25em;
                            letter-spacing: 0em;
                            text-align: left;
                            color: rgba(128, 108, 154, 1);
                            width: 270px;
                            margin: 0 auto;
                        }
                        .gratis__h4 {
                            width: 270px;
                            margin: 0 auto 60px auto;
                        }
                        h5 {
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 0.5em;
                            line-height: 1.25em;
                            color: $violeta;
                            height: 60px;
                            padding: 3px 0 0 70px;
                            margin: 0;
                        }
                        ul {
                            list-style-image: url(../media/item-lista-planes.svg);
                            padding: 0 0 0 95px;
                            margin: 0;
                            height: 275px;
                            li {
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 0.5625em;
                                line-height: 1.277em;
                                margin: 0 0 30px 0;
                                padding: 0 0 0 18px;
                            }
                        }
                        .inscribirYaBtn, .inscribirGratisBtn {
                            position: relative;
                            bottom: -70px;
                            width: 73.17%;
                            height: 55px;
                            border: none;
                            border-radius: 50px;
                            margin: 0 13.41%;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 0.65625em;
                            line-height: 1.238em;
                            text-align: center;
                            letter-spacing: -0.233333px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: all .1s;
                        }
                        .inscribirYaBtn {
                            background-color: $colorEspecial;
                            img {
                                margin: 0 0 0 10px;
                                width: 1.238em;
                            }
                            &:hover {
                                background: rgba(66, 1, 148, 1);
                            }
                        }
                        .inscribirGratisBtn {
                            background-color: $violeta60;
                            &:hover {
                                background-color: $violeta;
                            }
                        }
                    }
                }
            }
        }
    }
}