body {
    #preloader {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        animation-name: fadeOut;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            85% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                visibility: hidden;
            }
        }
        .preloader--container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            animation-name: fly;
            animation-duration: 2.5s;
            animation-fill-mode: forwards;
            @keyframes fly {
                0% {
                    position: absolute;
                    bottom: 0vh;
                }
                100% {
                    position: absolute;
                    bottom: 45vh;
                }
            }
            img {
                margin: 0 0 1vh 0;
                animation-name: rotate;
                animation-duration: 2.5s;
                animation-fill-mode: forwards;
                width: clamp(60px, calc(4.39vw + 1rem), 80px);
                max-width: 100px;
                @keyframes rotate {
                    0% {
                        transform: rotate(-45deg);
                    }
                    60% {
                        transform: rotate(-45deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
            h2 {
                font-size: clamp(42px, calc(4.69vw + 1rem), 160px);
                margin: 0 0 1.5vh 0;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: bold;
                color: $violeta;
                animation-name: disappear;
                animation-duration: 2.5s;
                animation-fill-mode: forwards;
                @keyframes disappear {
                    0% {
                        opacity: 1;
                    }
                    60% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
            p {
                font-family: Nunito;
                font-style: normal;
                font-weight: 800;
                font-size: clamp(20px, calc(0.975vw + 1rem), 93px);
                line-height: 33px;
                color: $violeta;
                animation-name: appear;
                animation-duration: 2.5s;
                animation-fill-mode: forwards;
                width: 68.29vw;
                min-width: 280px;
                max-width: 1310px;
                text-align: center;
                @keyframes appear {
                    0% {
                        opacity: 0;
                    }
                    60% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }
}