@import 'variables';
@import 'header';
@import 'main';
@import 'womanQuestion';
@import 'aprendo';
@import 'consulta';
@import 'mediaqueries';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

