* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@import 'variables';
@import 'header';
@import 'main';
@import 'womanQuestion';
@import 'aprendo';
@import 'consulta';
@import 'horarios';
@import 'planes';
@import 'mediaqueries';

